.max {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

.fit {
    width: unset;
    height: 80%;
    object-fit: contain;
}

.stack {
    /* display: flex; */
    justify-content: end;
    align-items: center;
    /* margin-bottom: 500px; */
    /* padding-bottom: 500px; */
}

.title {
    font-family: "lemon";
    font-weight: bold;
    text-align: center;
    font-size: 2vw;

}