@import "colors.css";

/* Common attributes to all buttons */

.settings_button, .settings_edit_button, .settings_2fa_input,
.friends_button,.add_user_button, .home_button, .dropdown_button, .creachan_button,.renderrow_button
{
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: backto1982;
	color: white;
}

/* Home */

.home_button {
	width: 100px;
	height: 50px;
}

.creachan_button {
	font-size: 12px;
	height: 50px;
}

.dropdown_button {
	width: "200px";
	height: '1000px';
	font-size: 25px;
}

.renderrow_button{
	width: 90px;
	height: 50px;
}

.add_user_button{
	width: 495px;
	height: 60px;
	font-size: 24px;
}

/* Friends */

.friends_button {
	width: 120px;
	height: 50px;
	font-size: 12px;
	line-height: 1.5;
}

/* Settings */

.settings_button {
	width: 100px;
	height: 70px;
	font-size: 20px;
}

.settings_edit_button {
	width: 200px;
	height: 70px;
	font-size: 20px;
}

/* Connection button */

.conn_button {
	width: 40%;
	height: 20%;
	font-size: 3vw;
	background-color: black;
	color: white;
	position: relative;
	font-family: Backto1982;
	border: 0.2vw solid white;
	box-shadow: 10px 10px 0px -1px rgba(255,255,255,0.5);
}

.conn_button:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 5px 5px 0px -1px rgba(255,255,255,0.5);
	cursor: pointer;
}

.conn_button:active {
	transform: translateX(10px) translateY(10px);
	box-shadow: 0px 0px 0px -1px rgba(255,255,255,0.5);
	cursor: pointer;
}

/* Exit button */

.exit_button {
	position: absolute;
	right: 0%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	box-shadow: 5px 5px 0px -1px rgba(255, 0, 0, 0.5);
}

.exit_button:hover {
	transform: translateX(2px) translateY(2px);;
	box-shadow: 2px 2px 0px -1px rgba(255, 0, 0, 0.5);
	cursor: pointer;
}

.exit_button:active {
	transform: translateX(5px) translateY(5px);;
	box-shadow: 0px 0px 0px -1px rgba(255, 0, 0, 0.5);
	cursor: pointer;
}