@import "colors.css";

/* Common attributes to all buttons */

.play_button, .spectate_button, .difficulty_button,
.settings_button, .settings_edit_button, .settings_2fa_input,
.friends_button, .home_button, .dropdown_button, .creachan_button,
.renderrow_button, .add_friend_button, .logout_button, .add_user_button,.send_msg_button
{
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

/* HOME */

/* Game Buttons */

.play_button {
	width: 100%;
	font-family: bit5x5;
	font-size: 8vw;
	background-color: black;
	color: black;
	-webkit-animation: bounce_1 0.75s ease-in-out infinite alternate;
	-moz-animation: bounce_1 0.75s ease-in-out infinite alternate;
	animation: bounce_1 0.75s ease-in-out infinite alternate;
}

@keyframes bounce_1 {
	from {
		-webkit-text-stroke-width: 0.15vw;
		-webkit-text-stroke-color: white;
	}
	to {
		-webkit-text-stroke-width: 0.15vw;
		-webkit-text-stroke-color: black;
	}
  }

.play_button:hover {
	color: var(--violet);
	-webkit-text-stroke-width: 0px !important;
	cursor: pointer;
}

.spectate_button {
	width: 100%;
	font-family: bit5x5;
	font-size: 3vw;
	background-color: black;
	color: black;
	-webkit-animation: bounce_2 0.75s ease-in-out infinite alternate;
	-moz-animation: bounce_2 0.75s ease-in-out infinite alternate;
	animation: bounce_2 0.75s ease-in-out infinite alternate;
}

@keyframes bounce_2 {
	from {
		color: white
	}
	to {
		color: black
	}
  }

.spectate_button:hover {
	color: black !important;
	-webkit-text-stroke-width: 0.09vw;
	-webkit-text-stroke-color: var(--violet);
	cursor: pointer;
}

.difficulty_button {
	width: 15vw;
	aspect-ratio: 20/7;
	font-size: 2vw;
	font-family: bit5x5;
}

/* Chat */

.return_button{
	margin-top: 10;
	margin-left: 10;
}

.home_button {
	width: 3.9vw;
	height: 3.7vh;
	font-size: 1em;
	font-family: backto1982;
}

.creachan_button {
	font-size: 12px;
	height: 3.7vh;
	font-family: backto1982;
}

.dropdown_button {
	width: 7.8vw;
	height: 75vh;
	font-size: 25px;
	font-family: backto1982;
}

.renderrow_button{
	width: 3.5vw;
	height: 3.7vh;
}

.add_user_button{
	width: 19vw;
	height: 4.5vh;
	font-size: 24px;
}

.send_msg_button{
	width: 2vw;
	height: 3.7vh;
	margin-right: 0.5vw;
}

/* Profile */

.logout_button {
	/* width: 200px;
	height: 50px;
	font-size: 20px; */
	width: 10.4vw;
	aspect-ratio: 20/5;
	font-size: 1vw;
	font-family: backto1982;
}

/* Friends */

.friends_button {
	/* width: 120px;
	height: 50px;
	font-size: 17px; */
	width: 5vw;
	aspect-ratio: 12/6;
	font-size: 0.7vw;
	font-family: bit5x5;
}

.add_friend_button {
	/* width: 150px;
	height: 50px;
	font-size: 18px; */
	width: 7.8vw;
	aspect-ratio: 3;
	font-size: 0.8vw;
	font-family: bit5x5;
}

/* Settings */

.settings_button {
	/* width: 100px;
	height: 70px;
	font-size: 20px; */
	width: 5vw;
	aspect-ratio: 5/3;
	/* Auto would do the job for font-size but this
	font sizing is broken so I have to use vw*/
	font-size: 1vw;
	font-family: backto1982;
}

.settings_edit_button {
	/* width: 200px;
	height: 70px;
	font-size: 20px; */
	width: 10.4vw;
	aspect-ratio: 20/7;
	font-size: 1vw;
	font-family: backto1982;
}

.colors_button {
	/* width: 30px;
	height: 30px; */
	width: 1.5vw;
	aspect-ratio: 1;
}

/* Connection button */

.conn_button {
	width: 40%;
	height: 20%;
	font-size: 3vw;
	background-color: black;
	color: white;
	position: relative;
	font-family: Backto1982;
	border: 0.2vw solid white;
	box-shadow: 10px 10px 0px -1px rgba(255,255,255,0.5);
}

.conn_button:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 5px 5px 0px -1px rgba(255,255,255,0.5);
	cursor: pointer;
}

.conn_button:active {
	transform: translateX(10px) translateY(10px);
	box-shadow: 0px 0px 0px -1px rgba(255,255,255,0.5);
	cursor: pointer;
}

/* Exit button */

.exit_button {
	position: absolute;
	right: 0%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: red;
	box-shadow: 5px 5px 0px -1px rgba(255, 0, 0, 0.5);
}

.exit_button:hover {
	transform: translateX(2px) translateY(2px);;
	box-shadow: 2px 2px 0px -1px rgba(255, 0, 0, 0.5);
	cursor: pointer;
}

.exit_button:active {
	transform: translateX(5px) translateY(5px);;
	box-shadow: 0px 0px 0px -1px rgba(255, 0, 0, 0.5);
	cursor: pointer;
}