@import "colors.css";

/* Common attributes to all buttons */

.settings_button, .settings_edit_button, .settings_2fa_input,
.friends_button, .home_button, .dropdown_button, .creachan_button,
.add_friend_button, .logout_button
{
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

/* Home */

.home_button {
	width: 100px;
	height: 50px;
	font-family: backto1982;
}

.creachan_button {
	font-size: 12px;
	height: 50px;
	font-family: backto1982;
}

.dropdown_button {
	width: 200px;
	height: 1000px;
	font-size: 25px;
	font-family: backto1982;
}

/* Profile */

.logout_button {
	/* width: 200px;
	height: 50px;
	font-size: 20px; */
	width: 10.4vw;
	aspect-ratio: 20/5;
	font-size: 1vw;
	font-family: backto1982;
}

/* Friends */

.friends_button {
	/* width: 120px;
	height: 50px;
	font-size: 17px; */
	width: 5vw;
	aspect-ratio: 12/6;
	font-size: 0.8vw;
	font-family: bit5x5;
}

.add_friend_button {
	/* width: 150px;
	height: 50px;
	font-size: 18px; */
	width: 7.8vw;
	aspect-ratio: 3;
	font-size: 0.8vw;
	font-family: bit5x5;
}

/* Settings */

.settings_button {
	/* width: 100px;
	height: 70px;
	font-size: 20px; */
	width: 5vw;
	aspect-ratio: 5/3;
	/* Auto would do the job for font-size but this
	font sizing is broken so I have to use vw*/
	font-size: 1vw;
	font-family: backto1982;
}

.settings_edit_button {
	/* width: 200px;
	height: 70px;
	font-size: 20px; */
	width: 10.4vw;
	aspect-ratio: 20/7;
	font-size: 1vw;
	font-family: backto1982;
}

.colors_button {
	/* width: 30px;
	height: 30px; */
	width: 1.5vw;
	aspect-ratio: 1;
}

/* Connection button */

.conn_button {
	width: 40%;
	height: 20%;
	font-size: 3vw;
	background-color: black;
	color: white;
	position: relative;
	font-family: Backto1982;
	border: 0.2vw solid white;
	box-shadow: 10px 10px 0px -1px rgba(255,255,255,0.5);
}

.conn_button:hover {
	transform: translateX(5px) translateY(5px);
	box-shadow: 5px 5px 0px -1px rgba(255,255,255,0.5);
	cursor: pointer;
}

.conn_button:active {
	transform: translateX(10px) translateY(10px);
	box-shadow: 0px 0px 0px -1px rgba(255,255,255,0.5);
	cursor: pointer;
}

/* Exit button */

.exit_button {
	position: absolute;
	right: 0%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: red;
	box-shadow: 5px 5px 0px -1px rgba(255, 0, 0, 0.5);
}

.exit_button:hover {
	transform: translateX(2px) translateY(2px);;
	box-shadow: 2px 2px 0px -1px rgba(255, 0, 0, 0.5);
	cursor: pointer;
}

.exit_button:active {
	transform: translateX(5px) translateY(5px);;
	box-shadow: 0px 0px 0px -1px rgba(255, 0, 0, 0.5);
	cursor: pointer;
}