@import "colors.css";

/* Background and Frames */

.background {
	background-image: url('../asset/images/background.jpg');
	background-size: cover;
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
}

.game_frame {
	width: 60vw;
	height: calc(60vw * 3/4);
	/* padding: 5px; */
	border: 0.5vw solid rgba(142, 0, 172, 1);
	outline: 0.5vw solid rgba(142, 0, 172, 0.5);
	background-color: black;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

.frame_div {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.frame, .userinit_frame, .twofa_frame {
	border: 0.3vw solid rgba(0, 70, 109, 1);
	outline: 0.3vw solid rgba(0, 80, 117, 1);
	background-color: black;
	height: undefined;
	width: undefined;
}
 
.frame {
	/* Here aspect-ratio property was ignored
	on Safari I don't know why */
	/* aspect-ratio: 5/3 */
	min-width: 50vw;
	max-width: 70vw;
	min-height: calc(70vw * 3/5);
	max-height: calc(70vw * 3/5);
}

.internal_frame {
	padding: 5px;
	border: 0.3vw solid rgba(142, 0, 172, 1);
	outline: 0.3vw solid rgba(142, 0, 172, 0.5);
	background-color: black;
	width: inherit;
}

.userinit_frame {
	/* min-width: 500px;
	max-width: 700px;
	min-height: 900px;
	max-height: 1100px; */
	min-width: 26vw;
	max-width: 36vw;
	aspect-ratio: 7/9;
}

.twofa_frame {
	/* min-width: 400px;
	max-width: 600px;
	min-height: 900px;
	max-height: 1000px; */
	min-width: 26vw;
	max-width: 36vw;
	aspect-ratio: 7/9;
}

/* Home */

canvas {
	width: 60vw;
	/* height: 100%; */
}

.score {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 4vw;
}

/* Grids Items Styling */

.grid_item_style {
	color: white;
	align-items: center;
	display: flex;
	justify-content: center;
	font-family: bit9x9;
	font-size: 1.5vw;
	width: 100%;
}

/* Friends */

ol, li {
    list-style-type: none;
}

.friends_list {
	padding-left: 0px;
	padding-right: 10px;
	margin-top: 10px;
	overflow-y: scroll;
	height: calc(100% - 0.8vw);
}

.search_element, .friend_element, .chan_element {
	border: 0.2vw solid;
	width: 100%;
	box-sizing: border-box;
}

.search_element {
	font-size: 1vw;
	margin-bottom: 0.35vw;
	padding: 0.35vw;
	width: calc(100% - 0.1vw);
}

.search_list {
	overflow: hidden;
	height: 100%;
}

.friend_element {
	font-size: 1vw;
	margin-bottom: 0.35vw;
	padding: 0.35vw;
	/* width: calc(100% - 0.1vw); */
}
.chan_element {
	font-size: 0.6vw;
	margin-bottom: 0.35vw;
	padding: 0.35vw;
	width: 18.4vw;
	margin-left: 0.26vw;
	margin-right: 0.1vw;
	margin-bottom: 1vh;
	/* width: calc(100% - 0.1vw); */
}

ol::-webkit-scrollbar {
	width: 0.4vw;             	/* width of the entire scrollbar */
}

ol::-webkit-scrollbar-track {
	background: black;        /* color of the tracking area */
}

ol::-webkit-scrollbar-thumb {
	background-color: var(--dark_blue);    /* color of the scroll thumb */
}

/* Settings */

.avatar_round {
	object-fit: cover;
	border-radius: 50%;
	height: 10.4vw;	
	width: 10.4vw;
}

.color_selected {
	border: 0.2vw solid var(--blue);
}

/* -- Avatar Settings -- */

.avatar_editor {
	width: 17vw;
	height: 17vw;
	color: black;
}

/* -- 2FA Settings -- */

.qrcode {
	width: 13vw;
	border: solid 0.3vw;
}

/* Achievements */

.achievement {
	border: solid 0.2vw;
	color: white;
	margin: 5px;
	text-align: center; 
}

.progressbar {
	width: 80%;
	border: 0.15vw solid grey;
	box-shadow: 0.15vw 0.15vw 0px -1px rgba(128, 128, 128, 0.5);
}

.bar {
  	height: 0.78vw;
  	background: rgb(0, 255, 0);
}

.case {
	width: 2vw;
	height: 2vw;
	border: 0.15vw solid grey;
	justify-content: center;
	align-items: center;
	display: flex;
	box-shadow: 5px 5px 0px -1px rgba(128, 128, 128, 0.5);
}

/* Menu */

.menu {
	color: white;
	border: black;
	/* border-radius: 25px;
	height: unset;
	width: unset;
	min-height: 100px; max-height: 150px;
	min-width: 400px; max-width: 600px; */
	border-radius: 1.3vw;
	width: 25vw;
	height: calc(25vw / 5);
	font-family: Arcade;
	font-size: 4vw;
	background-color: black;
	text-decoration: none;
	background: black;
	transition: border 0.8s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu:hover {
	/* border: 3px solid var(--violet);
	height: 'undefined';
	width: 'undefined';
	min-height: 100px; max-height: 150px;
	min-width: 400px; max-width: 600px;
	border-radius: 25px; */
	border: 0.15vw solid var(--violet);
	width: 25vw;
	height: calc(25vw / 5);
	border-radius: 1.3vw;
	background: linear-gradient(90deg, var(--dark_blue), rgb(0,0,0) 100%);
	cursor: pointer;
	transform: scale(1.1,1.1);
}