@import "colors.css";
@import "lists.css";

.game {
  width: 70vw;
}

/* Chat Panel */

.box {
  display: flex;
  height: 100vh;
}

.selecter {
  background-color: var(--cyan);
  height: 3.5vw;
  box-shadow: 0px -4px 0 0 #00ffff82,
                0px 4px 0 0 #00ffff82;
  display: flex;
  justify-content: center;
}

.chat_panel {
  flex: 0 0 25vw;
  background-color: black;
  border-left: 0.5vw solid red;
  width: 25vw;
  box-shadow: -0.3vw 0vw 0px 0vw rgb(229 0 51 / 50%),
         inset 0.3vw 0vw 0px 0vw rgb(229 0 51 / 50%)

}

.left {
  width: 70vw;
  flex: 1;  /* grow */
}

/* Chat */

.first_message, .message {
  color: white;
  font-size: 1.5vw;
  overflow-wrap: break-word;
  padding-right: 0.5vw;
}

.first_message {
  margin-left: 0.5vw;
}

.message {
  margin-left: 4.7vw;
}

.service_message {
  color: grey;
  width: 100%;
  font-size: 1.5vw;
  font-style: italic;
}

.invitation_message {
  color: grey;
  width: 100%;
  font-size: 1.5vw;
  font-style: italic;
}

.invitation {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  border: 0.3vw solid;
}

.invitation_icon {
  width: 3vw;
  margin: 0.4vw;
  height: unset;
}

/* ChanEdit */

.channel_stack {
  height: 100%;
  margin-left: 0.5vw;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
  padding-right: 0.5vw;
  overflow-y: auto;
}

.channel_title {
  color: white;
  font-size: 3.3vw;
  display: flex;
  justify-content: center;
}