@import "colors.css";

.friends_search_bar, .settings_nick_input, .settings_2fa_input,
.userinit_nick_input {
	outline: none;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
	padding-top: 10px;
	background: transparent;
}

/* Friends */

.friends_search_bar {
	color: white;
	width: 97%;
	font-family: Bit5x5;
	font-size: calc(10px + 1vw);
	border: 2px solid var(--yellow);
	box-shadow: 5px 5px 0px -1px rgba(218, 203, 23, 0.5);
	margin: 5px;
}

.friends_search_bar:focus::-webkit-input-placeholder { color:transparent; }

.settings_nick_input, .userinit_nick_input {
	font-family: bit5x5;
	font-size: 30px;
	border: none;
	border-bottom: 6px solid var(--blue);
	box-shadow: 0 6px 1px -1px rgba(0, 117, 253, 0.5);
	padding-bottom: 20px
}

/* User Init */

.userinit_nick_input {
	width: 60%;
}

/* Settings */

.settings_nick_input {
	width: 100%;
}

.settings_2fa_input {
	color: white;
	font-family: Bit5x5;
	font-size: calc(10px + 1vw);
	border: 5px solid var(--blue);
	box-shadow: 5px 5px 0px -1px rgba(0,117,253,0.5);
}

.settings_2fa_input:focus::-webkit-input-placeholder { color:transparent; }

