@import "colors.css";

.friends_search_bar, .settings_nick_input, .settings_2fa_input,
.userinit_nick_input {
	outline: none;
	/* position: relative; */
	text-align: center;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	padding-bottom: 0.6vw;
	padding-top: 0.6vw;
	background: transparent;
}

.chat_bar {
	color: white;
	/* 0.1vw for avoid the box-shadow to overlap */
	width: 70%;
	font-size: 1rem;
	/* Consider border as part of the content */
	box-sizing: border-box;
	border: 0.2vw solid var(--green);
	box-shadow: 0.25vw 0.25vw 0px -0.05vw rgba(19, 213, 144, 0.5);
	outline: none;
	background: transparent;
}


/* Friends */

.friends_search_bar {
	color: white;
	/* 0.1vw for avoid the box-shadow to overlap */
	width: calc(100% - 0.1vw);
	font-family: Bit5x5;
	font-size: 2vw;
	/* Consider border as part of the content */
	box-sizing: border-box;
	border: 0.2vw solid var(--yellow);
	box-shadow: 0.25vw 0.25vw 0px -0.05vw rgba(218, 203, 23, 0.5);
}

.friends_search_bar:focus::-webkit-input-placeholder { color:transparent; }

.settings_nick_input, .userinit_nick_input {
	font-family: bit5x5;
	font-size: 1.47vw;
	border: none;
	border-bottom: 6px solid var(--blue);
	box-shadow: 0 6px 1px -1px rgba(0, 117, 253, 0.5);
	padding-bottom: 20px
}

/* User Init */

.userinit_nick_input {
	width: 60%;
}

/* Settings */

.settings_nick_input {
	width: 100%;
}

.settings_2fa_input {
	color: white;
	font-family: Bit5x5;
	font-size: 2vw;
	border: 0.25vw solid var(--blue);
	box-shadow: 0.25vw 0.25vw 0px -1px rgba(0,117,253,0.5);
}

.settings_2fa_input:focus::-webkit-input-placeholder { color:transparent; }

