@import 'colors.css';

ol, li {
    list-style-type: none;
}

.friends_list {
	padding-left: 0px;
	padding-right: 10px;
	margin-top: 10px;
	overflow-y: scroll;
	height: calc(100% - 0.8vw);
}

.search_list {
	overflow: hidden;
	height: 100%;
}

.chat_list {  
	height: 100%;
	overflow: auto;
	margin-block-end: 0;
	margin-block-start: 0.4vw;
	padding-left: 0px;
}

/* Chan Info */

.chan_users_list {
	width: 100%;
}