.arcade {
	font-family: "arcade";
}
  
.backto1982 {
font-family: "backto1982";
}

.bit5x3 {
font-family: "bit5x3";
}

.bit5x5 {
line-height: 1em;
font-family: "bit5x5";
}

.bit5x5out {
font-family: "bit5x5";
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;
}

.bit9x9 {
font-family: "bit9x9";
}

.manaspc {
font-family: "manaspc";
}   